html, body {
	font-size: 16px;
	line-height: 20px;
	font-family: "Garamond Premier Pro", Garamond, "Hoefler Text", Baskerville, Georgia, serif;
}

.EntryContent blockquote {
	background-color: transparent;
	padding: 0;
	margin: 1em 1.35em;
}
p+p, .decking+p {
	text-indent: 1.35rem;
  /* margin-top: 0.5rem; */
}


hr {
	width: 40%;
	margin: 1em auto;
	border: none;
	border-bottom: 1px solid #999;
}

mark {
	background-color: transparent;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: black;
}
a:link {
	text-decoration: none;
}

a[href^="http"]::after {
	content: attr(href);
	float: footnote;
	text-indent: 0;
		font-size: 13px;
		line-height: 14px;
		hyphens: none;
		margin-bottom: 0.5em;
}

@page {
  size: 12.383cm 20.32cm;
  margin: 2.3cm 1.75cm 1.45cm 1.75cm;
	bleed: 0.317cm;
	@footnotes {
		border-top: none;
		padding-top: 2pt;
		margin-top: 2pt;
		height: auto;
  }
}

@page:left {
	margin-right: 1.433cm;
	margin-left: 2.067cm;
}
@page:right {
	margin-left: 1.433cm;
	margin-right: 2.067cm;
}

.chapter {
	page: chapter;
  prince-page-group: start;
	counter-reset: footnote;
		page-break-after: right;
}

.reversefootnote, div.footnotes {
	display: none;
}

.footnote-paragraph {
float: footnote;
}

.footnote-paragraph p {
	font-size: 13px;
	line-height: 14px;
	text-align: left;
	text-indent: 0;
	margin-bottom: 0.5em;
}

.footnote-paragraph::footnote-call {
/*     content: counter(footnote);
font-size: 125%;
vertical-align: super;
line-height: none */
}

p {
  text-align: justify;
}
.EntryHeader--Single-title {
  page-break-before: always;
  margin-top: 1cm;
		line-height: 1.4;
		margin-bottom: 1cm;
}

.full-figure {
	page: full-figure;
}

.print-only {
	display: block;
}

.page-break {
	page-break-before: always;
	page: blankpage;
}

@page blankpage {
  @top-right {
        content: " ";
  }
  @top-left {
          content: " ";
  }

}

@page full-figure {
	margin: 1.5cm;
	prince-rotate-body: landscape
}

h2 {
	line-height: 1.25;
}
.houseblue {
  color: black;
}

.EntryHeader--SingleChapter-title {
  string-set: heading content();
	padding-bottom: 0.5cm;
}

.EntryHeader--SingleMain-title {
  height: 100%;
  margin-top: 6cm;
	line-height: 1.2;
	font-size: 175%;
}

.titlepage {
	page-break-after: right;
}

.titlepage + .titlepage {
	page-break-after: left;
}

.copyright p {
	text-indent: 0;
	hyphens: none;
	margin-bottom: 1em;
}

.toc {
	page-break-after: right;
	page-break-before: right;
	page: toc;
}

.toc li, .toc .front-matter {
	position: relative;
}

.toc a[href]::after {
    content: " " target-counter(attr(href), page);
		font-style: italic;
		margin-left: 2em;
		position: absolute;
		top: 0;
		right: 0;
}

@page toc {
	margin-top: 4cm;
}

@page titlepage {
	@top-right {
				content: " ";
	}
	@top-left {
					content: " ";
	}
}

.first-chapter {
	counter-reset: page 1;
}

.EntryHeader--SingleMain-authors {
/* 	page-break-after: always; */
}


.ReadMore {
  display:none;
}
.Nav {
  display: none;
}



	.SiteBody {
		padding: 0;
		box-sizing:border-box;
	  width: 100%;
	  margin: 0;
	}


@page chapter:left {
  @top-right {
          content: "This is a book, for now";
          text-transform: uppercase;
        font-size: 90%;
				margin-top: 1.75em;
  }
  @top-left {
				        content: counter(page);
          font-size: 90%;
					margin-top: 1.75em;
  }
}

@page chapter:right {
  @top-right {
        content: counter(page);
        font-size: 90%;
				margin-top: 1.75em;
  }
  @top-left {
          content: string(heading);
          text-transform: uppercase;
          font-size: 90%;
					margin-top: 1.75em;
  }
}

@page chapter:first {
  margin-top: 4cm;
  @top-right {
        content: " ";
  }
  @top-left {
          content: " ";
  }

}
