html, body {
	font-size: 15px;
	line-height: 19px;

}

.EntryContent blockquote {
	background-color: transparent;
}

hr {
	width: 40%;
	margin: 1em auto;
	border: none;
	border-bottom: 1px solid #999;
}

@page {
  size: 13cm 20cm;
  margin: 1.5cm 1.5cm;
  margin-bottom: 1.5cm;
	@footnotes {
		border-top: none;
		padding-top: 2pt;
		margin-top: 2pt;
		height: auto;
  }
}

.chapter {
	page: chapter;
  prince-page-group: start;
	counter-reset: footnote;
}

.reversefootnote, .footnotes {
	display: none;
}

.footnote-paragraph {
float: footnote;
}

.footnote-paragraph p {
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	text-indent: 0;
}

.footnote-paragraph::footnote-call {
    content: counter(footnote);
    font-size: 125%;
    vertical-align: super;
    line-height: none
}

p {
  text-align: justify;
}
.EntryHeader--Single-title {
  page-break-before: always;
  margin-top: 2cm;
}

.EntryHeader--SingleChapter-title {
  string-set: heading content();
}

.EntryHeader--SingleMain-title {
  height: 100%;
  page-break-before: always;
  margin-top: 6cm;
	line-height: 1.2;
	font-size: 175%;
}


.EntryHeader--SingleMain-authors {
	page-break-after: always;
}


.ReadMore {
  display:none;
}
.Nav {
  display: none;
}



	.SiteBody {
		padding: 0;
		box-sizing:border-box;
	  width: 100%;
	  margin: 0;
	}


@page chapter:left {
  @top-right {
        content: counter(page);
        font-size: 90%;
  }
  @top-left {
          content: "This is not a book";
          text-transform: uppercase;
          font-size: 90%;
  }
}

@page chapter:right {
  @top-right {
        content: counter(page);
        font-size: 90%;
  }
  @top-left {
          content: string(heading);
          text-transform: uppercase;
          font-size: 90%;
  }
}

@page chapter:first {
  margin-top: 5cm;
  @top-right {
        content: " ";
  }
  @top-left {
          content: " ";
  }

}
