/** @define EntryContent */


.EntryContent img {
	height: auto;
	max-width: 100%;
	margin: 0;
}

.EntryContent blockquote {
	font-size: var(--small-font);
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: var(--emphasis-background);
	margin: 1rem 0;
	padding: 2rem 3rem;
}

@media (max-width: 700px) {
	.EntryContent blockquote {
		padding: 1rem 1.5rem;
	}
}

.EntryContent--single .not-on-single-page {
	display: none;
}
.EntryContent .not-on-separate-page {
	display: none;
}
.EntryContent--single .not-on-separate-page {
	display: block;
}

.EntryContent figure {
	margin: 0.5em 0;
/* 	padding: 2rem 2rem;
padding-bottom: 1rem;
background-color: var(--emphasis-background); */
background-color: white;
	text-align: right;
	padding: 0;
}
.EntryContent figure img {
	margin: 0;
	padding: 0;
}

.EntryContent figcaption {
	font-size: var(--small-font);
	text-align: right;
}
