/** @define EntryHeader */


.EntryHeader-permalink, .EntryHeader-permalink:link, .EntryHeader-permalink:visited {
	text-decoration: none;
	color: #666;
}

.EntryHeader-title {
	padding: 0;
	margin: 0 0 1rem;
	font-weight: lighter;
	text-decoration: none;
	font-size: var(--large-font);
	line-height: 1.2;
	text-align: right;
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-bottom: 1rem;
}

.EntryHeader--SingleChapter-title {
	font-size: 200%;
}

.EntryHeader--SingleMain-title {
	font-size: 300%;
	font-style: italic;
	text-align: left;
	margin-top: 8rem;
}

@media print {

	.EntryHeader--SingleChapter-title {
		font-size: 200%;
		page-break-before: always;
		padding-top: 8rem;
	}

	.EntryHeader--Single-authors {
		margin-bottom: 8rem;
	}
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.EntryHeader-title {
		border-bottom: 0.5px solid black;
	}
}

@media (min-resolution: 2dppx) {
	.EntryHeader-title {
		border-bottom: 0.5px solid black;
	}
}

.EntryHeader-title a {
	text-decoration: none;
	color: var(--link-color);
}

.EntryHeader-meta {
	text-transform: lowercase;
	margin-bottom: 0.25rem;
	color: #aaa;
}
