/** @define ReadMore */

.ReadMore {
   margin-top: auto;
   padding-top: 1rem;
}

.ReadMore {
	margin-bottom: 0;
	margin-top: auto;
  font-size: var(--small-font);
	border-top: 1px solid black;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.ReadMore {
		border-top: 0.5px solid black;
	}
}

@media (min-resolution: 2dppx) {
	.ReadMore {
		border-top: 0.5px solid black;
	}
}


.ReadMore a {
	text-decoration: none;
display: inline-block;
padding-right: 8px;
color: #aa0000;
text-align: center;
text-transform: uppercase;
margin-right: 0.5rem;
}
