/** @define ReadMore */

.ReadMore {
   margin-top: auto;
   padding-top: 1rem;
}

.ReadMore {
	margin-bottom: 0;
	margin-top: auto;
}


.ReadMore a {
	text-decoration: none;
display: inline-block;
padding-right: 8px;
color: #aa0000;
text-align: center;
text-transform: uppercase;
margin-right: 0.5rem;
}
