---
title: This is not a book
layout: single
---



<section class="toc">
  <h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">Contents</h2>

  {% assign sortedpages = site.pages | sort: 'sort' %}
  {{ site.pages["Introduction.md"].title }}
  <p class="front-matter"><a href="#introduction">Introduction</a></p>
  <ol>
    {% for page in sortedpages %}{% if page.category == null and page.sort and page.path != "Introduction.md" %}
    <li><a href="#{{ page.title | slugify }}">{{ page.title }}</a></li>
    {% endif %}{% endfor %}
</ol>
<div class="page-break">&nbsp;</div>
</section>

<section class="chapter first-chapter">
{% for page in site.pages %}{% if page.path == "Introduction.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Introduction" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "How_did_we_get_here.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "How_did_we_get_here" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "The_Form_of_the_Thing.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "The_Form_of_the_Thing" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>

{% if page.path == "What_is_digital_writing.md" %}{% for page in sortedpages %}{% if page.category == "What_is_digital_writing" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "What_does_the_reader_want.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify | replace: 'href="#fn:', 'href="#wdtrw-fn-' | replace: 'id="fn:', 'id="wdtrw-fn-' | replace: 'id="fnref:', 'id="wdtrw-fnref-' | replace: 'href="#fnref:', 'href="#wdtrw-fnref-' }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "What_does_the_reader_want" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#wdtrw-fn-' | replace: 'id="fn:', 'id="wdtrw-fn-' | replace: 'id="fnref:', 'id="wdtrw-fnref-' | replace: 'href="#fnref:', 'href="#wdtrw-fnref-' }}


</article>
{% endif %}{% endfor %}
</section>


<section class="chapter">
{% for page in site.pages %}{% if page.path == "What_does_the_writer_want.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "What_does_the_writer_want" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "Transmedia.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>


{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Transmedia" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">

<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "What_do_books_do.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#wdbd-fn-' | replace: 'id="fn:', 'id="wdbd-fn-' | replace: 'id="fnref:', 'id="wdbd-fnref-' | replace: 'href="#fnref:', 'href="#wdbd-fnref-' }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "What_do_books_do" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#wdbd-fn-' | replace: 'id="fn:', 'id="wdbd-fn-' | replace: 'id="fnref:', 'id="wdbd-fnref-' | replace: 'href="#fnref:', 'href="#wdbd-fnref-' }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "Choose_your_structural_grammar.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify | replace: 'href="#fn:', 'href="#cysg-fn-' | replace: 'id="fn:', 'id="cysg-fn-' | replace: 'id="fnref:', 'id="cysg-fnref-' | replace: 'href="#fnref:', 'href="#cysg-fnref-'  }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Choose_your_structural_grammar" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
  <h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#cysg-fn-' | replace: 'id="fn:', 'id="cysg-fn-' | replace: 'id="fnref:', 'id="cysg-fnref-' | replace: 'href="#fnref:', 'href="#cysg-fnref-' }}


</article>
{% endif %}{% endfor %}
</section>


<section class="chapter">
{% for page in site.pages %}{% if page.path == "Serial_fiction.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>


{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Serial_fiction" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>

<section class="chapter">
{% for page in site.pages %}{% if page.path == "Ambience.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>

{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Ambience" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#ambience-fn-' | replace: 'id="fn:', 'id="ambience-fn-' | replace: 'id="fnref:', 'id="ambience-fnref-' | replace: 'href="#fnref:', 'href="#ambience-fnref-' }}


</article>
{% endif %}{% endfor %}
</section>


<section class="chapter">
{% for page in site.pages %}{% if page.path == "Writing_a_fugue.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#waf-fn-' | replace: 'id="fn:', 'id="waf-fn-'  | replace: 'id="fnref:', 'id="waf-fnref-' | replace: 'href="#fnref:', 'href="#waf-fnref-' }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "Writing_a_fugue" %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify | replace: 'href="#fn:', 'href="#waf-fn-' | replace: 'id="fn:', 'id="waf-fn-'  | replace: 'id="fnref:', 'id="waf-fnref-' | replace: 'href="#fnref:', 'href="#waf-fnref-' }}


</article>
{% endif %}{% endfor %}
</section>



<section class="chapter">
{% for page in site.pages %}{% if page.path == "This_is_not_a_disruption.md" %}
<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader-title EntryHeader--SingleChapter-title">{{ page.title }}</h2>


{{ page.content | markdownify }}

</article>
{% endif %}{% endfor %}

{% for page in sortedpages %}{% if page.category == "This_is_not_a_disruption" and page.public != false %}


<article class="h-entry Entry Entry--post Entry--single Entry--singlepage e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}" id="{{ page.title | slugify }}">
<h2 class="p-name EntryHeader--Single-title">{{ page.title }}</h2>


{{ page.content | markdownify }}


</article>
{% endif %}{% endfor %}
</section>
