---
title: This is <i>not</i> the future of the book
category: Podcast-Index
date: "2015-09-08 13:03:04"
layout: index
---

<h3>A podcast</h3>

<p><i>This is not the future of the book</i> is a podcast by Tom Abba and Baldur Bjarnason about interactive media, digital publishing, hypertext, storytelling of all sorts.</p>

<hr>


<h3>Episodes</h3>

<p><a href="http://thisisnotabook.baldurbjarnason.com/podcast/feed.xml">Subscribe to the podcast</a>.</p>

{% assign sortedpages = site.pages | sort: 'sort' %}
<ol>
  {% for page in sortedpages %}{% if page.category == "Podcast" and page.sort %}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}{% endfor %}
</ol>
