---
title: This is <i>not</i> the future of the book
category: Podcast-Index
date: "2015-09-08 13:03:04"
layout: index
---

<h3>A podcast</h3>

<p><i>This is not the future of the book</i> is a podcast by Tom Abba and Baldur Bjarnason about interactive media, digital publishing, hypertext, storytelling of all sorts.</p>

<hr>


<p>New episodes will appear whenever a new one is ready. Which isn't likely to happen super-regularly.</p>

<p>May contain swearing.</p>

<p><a href="http://feedpress.me/thissnotthefutureofthebook">Subscribe to the podcast feed directly</a>. <a href="https://itunes.apple.com/gb/podcast/this-is-not-future-book/id1038121104">Or on iTunes</a>. <a href="https://overcast.fm/itunes1038121104/this-is-not-the-future-of-the-book">And, finally, on Overcast</a></p>

<h3>Episodes</h3>


{% assign sortedpages = site.pages | sort: 'sort' %}
<ol>
  {% for page in sortedpages %}{% if page.category == "podcast" and page.sort %}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}{% endfor %}
</ol>
