:root {
  --blog-font: "Hoefler Text", Baskerville, Georgia, serif ;
  /* --emphasis-background: #FBF8DB; */
  /* --emphasis-background: #FBFcDc; */
  --emphasis-background: #f9f9f9;
  --link-color: #a00;
  --visited-link-color: #660099;
  --active-link-color: #330099;
  --button-background: #eBe8cB;
  --button-color: #4b482B;
  --button-border: #dbd8bB;
  --large-font: 300%;
  --medium-font: 133%;
  --small-font: 90%;
  --base-font: 17px;
  --base-line-height: 21px;
  --base-width: 666px;
  margin: 0;
}


html, body {
  /* background-color: #f9f8ea; */
	font-family: var(--blog-font);
	font-size: var(--base-font);
	line-height: var(--base-line-height);

}

@media (max-width: 700px) {
  html, body {
    font-size: 15px;
  }
}

* {
	box-sizing:border-box;
}



p {
	margin: 0;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

p+p, .decking+p {
	text-indent: 1.5em;
  /* margin-top: 0.5rem; */
}

hr {
	width: 40%;
	margin: 1rem auto;
	border-top: none;
	border-bottom: 1px solid #999;
}


@media (-webkit-min-device-pixel-ratio: 2) {
	hr {
		border-bottom: 0.5px solid black;
	}
}

@media (-webkit-min-resolution: 2dppx) {
	hr {
		border-bottom: 0.5px solid black;
	}
}

@media (min-device-pixel-ratio: 2) {
	hr {
		border-bottom: 0.5px solid black;
	}
}

@media (min-resolution: 2dppx) {
	hr {
		border-bottom: 0.5px solid black;
	}
}

.decking {
	font-style: italic;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

a {
	color: var(--link-color);
}

a:link {
	text-decoration: underline;
}

a:visited {
	color: var(--visited-link-color);
}

a:active {
	color: var(--active-link-color);
}

h2 {
	font-size: 133%;
	font-weight: normal;
}

h1 {
font-weight: normal;
}

h3 {
	font-weight: normal;
	font-style: italic;
  text-align: center;
}

h4 {
	font-weight: normal;
}

ul {
  list-style-type: square;
}

mark {
  background: #ffffaa;
  color: #000;
}

.footnotes {
	font-size: var(--small-font);
}

pre {
	font-size: var(--small-font);
}

footer {
	font-size: var(--small-font);
}

.houseblue {
  color: #6086d1;
}

li > ul {
  list-style: circle;
  margin: 0;
}
