---
layout: layout
---

<main class="Main Main--post">

<article class="h-entry Entry Entry--post Entry--page" id="{{ page.title | slugify }}">
<header class="EntryHeader"><h1 class="p-name EntryHeader-title">{{ page.title }}</h1></header>

<div class="e-content EntryContent EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}">
{{ content }}
</div>
{% if page.return %}<hr><p class="Entry-return"><a href="{{ page.return }}">&larr; Back</a></p>{% endif %}
</article>
</main>
