---
layout: layout
---

<main class="Main Main--post h-entry Entry Entry--post Entry--page" id="{{ page.title | slugify }}">
<section class="titlepage print-only"><h1 class="p-name EntryHeader--SingleMain-title">This is not a book</h1>
  </section>



  <section class="print-only copyright">
    <p>Copyright &copy; 2011-2015 Tom Abba and Baldur Bjarnason</p>
    <p>ALL RIGHTS RESERVED</p>
    <p>http://thisisnotabook.baldurbjarnason.com</p>
    <p>Typeset by Baldur Bjarnason</p>
  </section>

<section class="EntryHeader titlepage"><h1 class="p-name EntryHeader--SingleMain-title">This is not a book</h1>
<h2 class="EntryHeader--Single-authors">by Tom Abba &amp; Baldur Bjarnason</h2>

</section>

<div class="e-content EntryContent EntryContent--single EntryContent--page{% if page.tags %} EntryContent--{{ page.tags | first }}{% endif %}">
{{ content }}
</div>
{% if page.category %}<hr><p class="Entry-return"><a href="/{{ page.category }}.html">&larr; Back</a></p>{% endif %}


<footer>
<p class="ReadMore"><a href="https://twitter.com/intent/tweet?url={{ "https://thisisnotabook.baldurbjarnason.com" | uri_escape }}{{ page.url }}&amp;related=fakebaldur,tomabba&amp;text={{ "This is not a book: " | uri_encode }}{{ page.title | strip_html | uri_encode }}">Share on Twitter</a> <a href="https://github.com/baldurbjarnason/this-is-not-a-book/blob/master/{{ page.path }}">Github</a> <a href="/Map.html">Site Map</a> <a href="mailto:baldur.bjarnason+thisisnotabook@gmail.com">Email</a></p>

</footer>
</main>
